:root{
    --main_color:rgb(18, 182, 127);
    --main_color_dark:rgb(17, 163, 114);
    --white:rgb(240, 240, 240);
}
::-webkit-scrollbar {
    width: 0.4rem;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main_color);
    border-radius: 0.3rem;
}
body{
    margin: 0;
    background-color: var(--white);
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    position: relative;
}
header{
    background-color: var(--white);
}
.logo_text{
    font-size:1.9rem;
}
.color_text{
    color: var(--main_color);
}
.nav-link{
    padding: 1.1rem 0rem;
}
.nav-link:hover{
    color: var(--main_color) !important;
}
.navbar-toggler{
    border-color: rgba(0, 0, 0, 0.6);
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}


/*main*/ 


main{
    min-height: 40rem;
}
.all_section section{
    min-height: 40rem;
}
.first article{
    width: 100%;
    min-height: 10rem;
    position: relative;
}
.blur_efect{
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 6vw;
}
.blur_efect:hover{
    color: white;
}
.main_image{
    width: 100vw;
}
.second{
    margin: 5;
}
.second article, .third article, .fourth article, .fifth article, .sixthy article{
    text-align: center;
    width: 100%;
}
.second h2, .third h2, .fourth h2, .fifth h2 .sixthy h2{
    width: 100%;
    font-size: 2.5rem;
}
.second .content_about{
    font-size: 1.2rem;
    text-align:start ;
}

.sixthy{
    background-image: url(img/contact.webp);
    width: 100%;
    min-height: 45rem;
    background-size: 100%;
    position: relative;
}
.sixthy article{
    justify-content: start;
    align-items: center;
}
.sixthy article h2{
    font-size: 3.5rem;
}
.sixthy form{
    display: flex;
    flex-direction: column;
    width: 60%;
    font-family: monospace;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}
.sixthy form input, .sixthy form textarea{
    background-color: transparent;
    border: 2px solid var(--white);
    height: 4.2rem;
    margin-top: 1rem;
    padding: 1.5rem;
    color: white !important;

}
.sixthy form input::placeholder, .sixthy form textarea::placeholder{ 
    opacity:1;
    color:white !important;
}

.sixthy form input:focus-visible,.sixthy form textarea:focus-visible{ 
    background-color: var(--white);
    color:rgba(8,28,41,1) !important;

}
.sixthy form textarea{
    height: 10rem;
}.sixthy form div{
    display: flex;
    justify-content: center;
    width: 100%;
}
.sixthy button{
    margin-top: 1rem;
    height: 2rem;
    width: 10%;
    padding:2rem 5rem;
    font-size: 1.3rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main_color_dark);
    font-weight: bold;
    border-radius: 0.2rem;
}
.sixthy button:hover{
    color: var(--white);
    background-color: var(--main_color);
}

.fake_div{
    height: 5.5rem;
}
iframe{
    min-height:20rem;
    width: 100%;
    border: 0;
}

/*footer*/
footer{
    min-height: 4rem;
    background-color:var(--main_color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow_up{
    background-color: var(--white);
    color: var(--main_color);
    text-decoration: none;
    position: absolute;
    right: 1rem;
    padding: 1rem;
    bottom: 0.5rem;
    border-radius: 0.5rem;
}
.arrow_up:hover{
    background-color: var(--main_color_dark);
    color: white;
}


.column {
    float: left;
    width: 25%;
    padding: 0 5px;
}  
.row_c {margin: 0 -5px;}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
@media screen and (max-width: 680px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
}
  
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: var(--main_color);
    color: white;
}
.card:hover{
    cursor: pointer;
    background-color:var(--main_color_dark);
}
  
.fa {font-size:50px;}

@media (max-width:320px) {
    iframe{
        min-height: 15rem;
    }
    header{
        min-height: 2rem;
    }
}