:root{
    --main_color:rgb(18, 182, 127);
    --main_color_dark:rgb(17, 163, 114);
    --white:rgb(240, 240, 240);
}
::-webkit-scrollbar {
    width: 0.4rem;
}
::-webkit-scrollbar-thumb {
    background-color: var(--main_color);
    border-radius: 0.3rem;
}
::selection{
    background-color: var(--main_color_dark);
    color: white;
}
body{
    margin: 0;
    background-color: var(--white);
    color: black;
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    position: relative;
}
header{
    background-color: var(--white);
}
.logo_text{
    font-size:1.9rem;
}
.color_text{
    color: var(--main_color);
}

.nav-link{
    padding: 1.1rem 0rem;
}
.nav-link:hover{
    color: var(--main_color) !important;
}
.navbar-toggler{
    border-color: rgba(0, 0, 0, 0.6);
}
.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}


/*main*/ 


main{
    min-height: 40rem;
}
.all_section section{
    min-height: 40rem;
}
.first article{
    width: 100%;
    min-height: 10rem;
    position: relative;
}
.blur_efect{
    background-color: rgba(0, 0, 0, 0.75);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 6vw;
}
.blur_efect:hover{
    color: white;
}
.main_image{
    width: 100vw;
}
.second{
    margin: 5;
    text-align: center;
}
.second article, .third article, .fourth article, .fifth article, .sixthy article{
    text-align: center;
    width: 100%;
}
.second h2, .third h2, .fourth h2, .fifth h2, .sixthy h2{
    width: 100%;
    font-size: 3.5rem;
}
.second .content_about{
    font-size: 1.25rem;
    text-align:start ;
}
.backpack{
    display: flex;
    justify-content: center;
    align-items: center;
}
.backpack img{
    border-radius: 0.9rem;
}
.btn_z{
    background-color: var(--main_color);
    color: var(--white);
    border-radius: 1rem;
    padding: 1rem 2rem;
    text-decoration: none;
}
.btn_p{
    display: flex;
    justify-content: st;
}
.btn_z:hover{
    background-color: var(--main_color_dark);
    color: var(--white);
}

.egz_cont{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.egz_cont .egz_info{
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 30rem;
    background-color:rgb(246, 246, 246);
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.584);
    font-size: 2rem;
    cursor: pointer;
    border-radius: 1rem;
}
.fourth .egz_cont .egz_info{
    display: flex;
    flex-direction: column;
    width: 18.5rem;
    height: 20rem;
    background-color:rgb(246, 246, 246);
    align-items: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.584);
    font-size: 2rem;
    cursor: pointer;
    border-radius: 1rem;
}
.egz_cont .egz_info:hover{
    box-shadow: 0px 0px 20px var(--main_color_dark);
}
.egz_cont .egz_info i{
    font-style: normal;
    width: 15rem;
    height: 15rem;
    background-color: var(--main_color_dark);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    color: var(--white);
}
.fourth .egz_cont .egz_info i{
    font-style: normal;
    width: 10rem;
    height: 10rem;
    background-color: var(--white);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: var(--main_color);
}
.third h2, .fourth h2, .fifth h2{
    margin-bottom: 5rem !important;
}
.fifth .content_about{
    font-size: 1.25rem;
    text-align:start ;
}


.sixthy{
    background-image: url(img/contact.webp);
    width: 100%;
    min-height: 45rem;
    background-size: 100%;
    position: relative;
}
.sixthy article{
    justify-content: start;
    align-items: center;
}
.sixthy article h2{
    font-size: 3.5rem;
}
.sixthy form{
    display: flex;
    flex-direction: column;
    width: 60%;
    font-family: monospace;
    margin-bottom: 1rem;
    font-size: 1.3rem;
}
.sixthy form input, .sixthy form textarea{
    background-color: transparent;
    border: 2px solid var(--white);
    height: 4.2rem;
    margin-top: 1rem;
    padding: 1.5rem;
    color: white !important;

}
.sixthy form input::placeholder, .sixthy form textarea::placeholder{ 
    opacity:1;
    color:white !important;
}

.sixthy article form input:focus-visible,.sixthy article form textarea:focus-visible{ 
    background-color: var(--white);
    color:rgb(7, 24, 36) !important;

}
.sixthy form textarea{
    height: 10rem;
}.sixthy form div{
    display: flex;
    justify-content: center;
    width: 100%;
}
.sixthy button{
    margin-top: 1rem;
    height: 2rem;
    width: 10%;
    padding:2rem 5rem;
    font-size: 1.3rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main_color_dark);
    font-weight: bold;
    border-radius: 0.2rem;
}
.sixthy button:hover{
    color: var(--white);
    background-color: var(--main_color);
}

.fake_div{
    height: 5.5rem;
}
.social{
    width: 100%;
    min-height: 4rem;
    background-color: var(--main_color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.social i{
    padding: 0.9rem;
    background-color: var(--white);
    border-radius: 0.5rem;
    font-size: 1.3rem;   
}
.social i:hover{
    color: var(--main_color_dark);
    cursor: pointer;
}
iframe{
    min-height:20rem;
    width: 100%;
    border: 0;
}

/*footer*/
footer{
    min-height: 4rem;
    background-color:var(--main_color);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow_up{
    background-color: var(--white);
    color: var(--main_color);
    text-decoration: none;
    position: absolute;
    right: 1rem;
    padding: 1rem;
    bottom: 0.5rem;
    border-radius: 0.5rem;
}
.arrow_up:hover{
    background-color: var(--main_color_dark);
    color: white;
}


.column {
    float: left;
    width: 25%;
    padding: 0 5px;
}  
.row_c {margin: 0 -5px;}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
@media screen and (max-width: 680px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 10px;
    }
}
  
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: var(--main_color);
    color: white;
}
.card:hover{
    cursor: pointer;
    background-color:var(--main_color_dark);
}
  
.fa {font-size:50px;}

@media (max-width:1024px) {
    iframe{
        min-height: 15rem;
    }
    header{
        min-height: 2rem;
    }
    .second h2, .third h2, .fourth h2, .fifth h2, .sixthy h2{
        font-size: 3rem;
        margin-bottom: 3rem !important;
    }
    .first img, .first a{
        margin-top: 5rem;
    }
    .first a{
        height: 90%;
    }
    .social i{
        font-size: 1rem;
        padding: 0.5rem;
    }
    .arrow_up{
        padding: 0.5rem 0.6rem;
    }
    .egz_cont .egz_info{
        width: 25rem;
        height: 16rem;
        font-size: 1.8rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .egz_cont .egz_info i{
        width: 7rem;
        height: 7rem;
        font-size: 3rem;
        margin-bottom: 1rem !important;
    }
    .fourth .egz_cont .egz_info{
        width: 18rem;
        height: 18rem;
        font-size: 1.8rem;
    }
    .fourth .egz_cont .egz_info i{
        width: 7.5rem;
        height: 7.5rem;
        font-size: 3rem;
        margin-bottom: 1rem !important;
    }
    .row_c .column{
        width: 50%;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .content_about p{
        font-size: 1.4rem;
    }
    .sixthy h2{
        font-size: 3rem !important;
    }
    .sixthy form input{
        height: 1.5rem;
        padding: 1.5rem;
        font-size: 1.3rem;
        width: 100%;
    }
    .sixthy form textarea{
        height: 7rem;
        font-size: 1.3rem;
        padding: 1rem;
    }
    .sixthy button{
        padding: 1.3rem 3rem;
        font-size: 1.3rem;
    }
    .sixthy{
        min-height: 38rem !important;
    }
    footer{
        font-size: 1rem;
        min-height: 3rem !important;
    }
}

@media (max-width:768px) {
    iframe{
        min-height: 15rem;
    }
    header{
        min-height: 2rem;
    }
    .second h2, .third h2, .fourth h2, .fifth h2, .sixthy h2{
        font-size: 3rem;
        margin-bottom: 3rem !important;
    }
    .first img, .first a{
        margin-top: 5rem;
    }
    .first a{
        height: 85%;
    }
    .social i{
        font-size: 1rem;
        padding: 0.5rem;
    }
    .arrow_up{
        padding: 0.5rem 0.6rem;
    }
    .egz_cont .egz_info{
        width: 25rem;
        height: 16rem;
        font-size: 1.8rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .egz_cont .egz_info i{
        width: 7rem;
        height: 7rem;
        font-size: 3rem;
        margin-bottom: 1rem !important;
    }
    .fourth .egz_cont .egz_info{
        width: 14rem;
        height: 18rem;
        font-size: 1.8rem;
    }
    .fourth .egz_cont .egz_info i{
        width: 7.5rem;
        height: 7.5rem;
        font-size: 3rem;
        margin-bottom: 1rem !important;
    }
    .row_c .column{
        width: 50%;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    .content_about p{
        font-size: 1.5rem;
    }
    .sixthy h2{
        font-size: 3rem !important;
    }
    .sixthy form input{
        height: 1.5rem;
        padding: 1.5rem;
        font-size: 1.3rem;
        width: 100%;
    }
    .sixthy form textarea{
        height: 7rem;
        font-size: 1.3rem;
        padding: 1rem;
    }
    .sixthy button{
        padding: 1.3rem 3rem;
        font-size: 1.3rem;
    }
    .sixthy{
        min-height: 38rem !important;
    }
    footer{
        font-size: 1rem;
        min-height: 3rem !important;
    }
}

@media (max-width:480px) {
    iframe{
        min-height: 15rem;
    }
    header{
        min-height: 2rem;
    }
    .second h2, .third h2, .fourth h2, .fifth h2, .sixthy h2{
        font-size: 2.5rem;
        margin-bottom: 3rem !important;
    }
    .first img, .first a{
        margin-top: 5rem;
    }
    .first a{
        height: 80%;
    }
    .social i{
        font-size: 1rem;
        padding: 0.5rem;
    }
    .arrow_up{
        padding: 0.5rem 0.6rem;
    }
    .egz_cont .egz_info{
        width: 15rem;
        height: 14rem;
        font-size: 1.2rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .egz_cont .egz_info i{
        width: 5rem;
        height: 5rem;
        font-size: 2rem;
        margin-bottom: 1rem !important;
    }
    .fourth .egz_cont .egz_info{
        width: 13rem;
        height: 13rem;
        font-size: 1.2rem;
    }
    .fourth .egz_cont .egz_info i{
        width: 5rem;
        height: 5rem;
        font-size: 2rem;
        margin-bottom: 1rem !important;
    }
    .row_c .column{
        width: 50%;
        font-size: 1.2rem;
    }
    .content_about p{
        font-size: 1.2rem;
    }
    .sixthy h2{
        font-size: 2.5rem !important;
    }
    .sixthy form input{
        height: 1rem;
        padding: 1rem;
        font-size: 1rem;
        width: 100%;
    }
    .sixthy form textarea{
        height: 6rem;
        font-size: 1rem;
        padding: 1rem;
    }
    .sixthy button{
        padding: 1.3rem 3rem;
        font-size: 1rem;
    }
    .sixthy{
        min-height: 32rem !important;
    }
    footer{
        font-size: 0.8rem;
        min-height: 3rem !important;
    }
}



@media (max-width:400px) {
    iframe{
        min-height: 15rem;
    }
    header{
        min-height: 2rem;
    }
    .second h2, .third h2, .fourth h2, .fifth h2, .sixthy h2{
        font-size: 2.5rem;
        margin-bottom: 3rem !important;
    }
    .first img, .first a{
        margin-top: 5rem;
    }
    .first a{
        height: 75%;
    }
    .social i{
        font-size: 1rem;
        padding: 0.5rem;
    }
    .arrow_up{
        padding: 0.5rem 0.6rem;
    }
    .egz_cont .egz_info{
        width: 12rem;
        height: 13rem;
        font-size: 1.2rem;
    }
    .egz_cont .egz_info i{
        width: 5rem;
        height: 5rem;
        font-size: 2rem;
        margin-bottom: 1rem !important;
    }
    .fourth .egz_cont .egz_info{
        width: 9rem;
        height: 13rem;
        font-size: 1.2rem;
    }
    .fourth .egz_cont .egz_info i{
        width: 5rem;
        height: 5rem;
        font-size: 2rem;
        margin-bottom: 1rem !important;
    }
    .row_c .column{
        width: 50%;
    }
    .content_about p{
        font-size: 1rem;
    }
    .sixthy h2{
        font-size: 2.5rem !important;
    }
    .sixthy form input{
        height: 1rem;
        padding: 1rem;
        font-size: 1rem;
        width: 100%;
    }
    .sixthy form textarea{
        height: 6rem;
        font-size: 1rem;
        padding: 1rem;
    }
    .sixthy button{
        padding: 1.3rem 3rem;
        font-size: 1rem;
    }
    .sixthy{
        min-height: 32rem !important;
    }
    footer{
        font-size: 0.8rem;
        min-height: 3rem !important;
    }
}
@media (max-width:350px) {
    iframe{
        min-height: 15rem;
    }
    header{
        min-height: 2rem;
    }
    .second h2, .third h2, .fourth h2, .fifth h2, .sixthy h2{
        font-size: 2.5rem;
        margin-bottom: 3rem !important;
    }
    .first img, .first a{
        margin-top: 5rem;
    }
    .first a{
        height: 70%;
    }
    .social i{
        font-size: 1rem;
        padding: 0.5rem;
    }
    .arrow_up{
        padding: 0.5rem 0.6rem;
    }
    .egz_cont .egz_info{
        width: 12rem;
        height: 13rem;
        font-size: 1.2rem;
    }
    .egz_cont .egz_info i{
        width: 5rem;
        height: 5rem;
        font-size: 2rem;
        margin-bottom: 1rem !important;
    }
    .fourth .egz_cont .egz_info{
        width: 8rem;
        height: 13rem;
        font-size: 1.2rem;
    }
    .fourth .egz_cont .egz_info i{
        width: 5rem;
        height: 5rem;
        font-size: 2rem;
        margin-bottom: 1rem !important;
    }
    .row_c .column{
        width: 50%;
    }
    .content_about p{
        font-size: 0.9rem;
    }
    .sixthy h2{
        font-size: 2.5rem !important;
    }
    .sixthy form input{
        height: 1rem;
        padding: 1rem;
        font-size: 1rem;
        width: 100%;
    }
    .sixthy form textarea{
        height: 6rem;
        font-size: 1rem;
        padding: 1rem;
    }
    .sixthy button{
        padding: 1.3rem 3rem;
        font-size: 1rem;
    }
    .sixthy{
        min-height: 32rem !important;
    }
    footer{
        font-size: 0.8rem;
        min-height: 3rem !important;
    }
}
@media (max-width:300px) {
    .fourth .egz_cont .egz_info{
        width: 7rem;
        height: 11rem;
        font-size: 1rem;
        padding-top: 1.5rem 0.5rem 0.5rem 0.5rem !important;
    }
    .fourth .egz_cont .egz_info i{
        width: 4rem;
        height: 4rem;
        font-size: 2rem;
        margin-bottom: 0.5rem !important;
    }
    .row_c .column .card{
        font-size: 1rem;
    }
}