body{
    background-color: #2F3336;
	color: #efefef;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}
.bg-header{
    background-color:#3b85a3 !important;
}
header nav a img{
    max-width: 2rem;
}
